article {
    display: flex;
    /* flex-direction: column; */
    padding: 10px;
    justify-content: space-evenly;
}

section.controls {
    display: flex;
    flex-direction: column;
}

.box {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #314164;
}

.parent-box {
    background-color: red;
}

pre, code {
    margin-top: 10px;
    width: 200px;
    font-family: Courier;
    font-size: 6pt;
}

button {
    margin-right: 25px;
}